/build-bAdmin-Desktop_Qt_6_4_2_MSVC2019_64bit-Debug/
/.idea/
/build-bAdmin-Desktop_Qt_6_4_2_MSVC2019_64bit-Release/
/build-bAdmin-Desktop_Qt_6_4_2_MSVC2019_64bit-Profile/
/build-bAdmin-Desktop_Qt_6_2_2_MSVC2019_64bit-Release/
/build-bAdmin-Desktop_Qt_6_2_2_MSVC2019_64bit-Profile/
/build-bAdmin-Desktop_Qt_6_2_2_MSVC2019_64bit-Debug/
/build-bAdmin-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/